# Segmenting and Clustering Neighborhoods in Toronto
by Hugo Bertini @ 2020.05.24

#### **this is part 1/3 of the assignment. "Scraping into a Dataframe"**   
We will begin to scrape the [List of postal codes of Canada: M](https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M) into a pandas Dataframe:

_first we import the libraries we need:_

In [1]:
#first we import the libraries we need:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

_then we perform the request:_

In [2]:
#then we perform the request:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
response = requests.get(url)
print(response)

#a response of 200 means we received the page we asked for, so let's continue:
soup = BeautifulSoup(response.text, "html.parser")

<Response [200]>

_now that we have our soup ready, let's see what tables are available:_

In [3]:
#now that we have our soup ready, let's see what tables are available.
#as the output might be too unpratically big for dispaly we will limit it to 500 characters:
str(soup.findAll('table'))[0:500]

'[<table class="wikitable sortable">\n<tbody><tr>\n<th>Postal Code\n</th>\n<th>Borough\n</th>\n<th>Neighborhood\n</th></tr>\n<tr>\n<td>M1A\n</td>\n<td>Not assigned\n</td>\n<td>\n</td></tr>\n<tr>\n<td>M2A\n</td>\n<td>Not assigned\n</td>\n<td>\n</td></tr>\n<tr>\n<td>M3A\n</td>\n<td>North York\n</td>\n<td>Parkwoods\n</td></tr>\n<tr>\n<td>M4A\n</td>\n<td>North York\n</td>\n<td>Victoria Village\n</td></tr>\n<tr>\n<td>M5A\n</td>\n<td>Downtown Toronto\n</td>\n<td>Regent Park, Harbourfront\n</td></tr>\n<tr>\n<td>M6A\n</td>\n<td>North York\n</td>\n<td>'

_it looks like our table is the first one! so let's grab it and extract the data:_

In [4]:
#it looks like our table is the first one. let's grab it and extract the data:
pc_table = soup.find_all('table')[0]
pc_table_body = pc_table.find('tbody')
pc_table_rows = pc_table_body.find_all('tr')
table = []

#getting the table headers:
headers = pc_table_rows[0].find_all('th')
table.append([h.text.strip() for h in headers])

#getting the table data rows:
for row in pc_table_rows[1:]:
    cols = row.find_all('td')
    cols = [txt.text.strip() for txt in cols]
    #table.append([txt for txt in cols if txt])  # empty items are not added
    table.append([txt for txt in cols])
    
table[0:15]

[['Postal Code', 'Borough', 'Neighborhood'],
 ['M1A', 'Not assigned', ''],
 ['M2A', 'Not assigned', ''],
 ['M3A', 'North York', 'Parkwoods'],
 ['M4A', 'North York', 'Victoria Village'],
 ['M5A', 'Downtown Toronto', 'Regent Park, Harbourfront'],
 ['M6A', 'North York', 'Lawrence Manor, Lawrence Heights'],
 ['M7A', 'Downtown Toronto', "Queen's Park, Ontario Provincial Government"],
 ['M8A', 'Not assigned', ''],
 ['M9A', 'Etobicoke', 'Islington Avenue, Humber Valley Village'],
 ['M1B', 'Scarborough', 'Malvern, Rouge'],
 ['M2B', 'Not assigned', ''],
 ['M3B', 'North York', 'Don Mills'],
 ['M4B', 'East York', 'Parkview Hill, Woodbine Gardens'],
 ['M5B', 'Downtown Toronto', 'Garden District, Ryerson']]

_now we can create a pandas Dataframe:_

In [5]:
#now we can create our pandas Dataframe:

trtPC_df1 = pd.DataFrame(table[1:], columns=table[0])
print('table shape: {} rows x {} columns'.format(trtPC_df1.shape[0], trtPC_df1.shape[1]))
trtPC_df1.head(10)

table shape: 180 rows x 3 columns

  Postal Code           Borough                                 Neighborhood
0         M1A      Not assigned
1         M2A      Not assigned
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
7         M8A      Not assigned
8         M9A         Etobicoke      Islington Avenue, Humber Valley Village
9         M1B       Scarborough                               Malvern, Rouge

**now we will wrangle the dataframe to have it ready for proper analysis:**

_Ignore empty cells and the ones with a borough that is 'Not assigned':_

In [6]:
#let's discard rows whose Borough field is either empty or "Not assigned":

trtPC_df1 = trtPC_df1[(trtPC_df1.Borough.notnull()) & (trtPC_df1['Borough']!='Not assigned')]
print(trtPC_df1.shape)
trtPC_df1.head()

(103, 3)

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

_for cases of empty or not assigned neighborhood, it will become the same as the borough:_

In [7]:
#although it looks like the original table in the wiki was cleaned up in advance, 
#we still treat those cases just in case the table is changed at origin:

trtPC_df1['Neighborhood'] = np.where((trtPC_df1['Neighborhood'].eq('Not assigned')) | (trtPC_df1['Neighborhood'].eq('')), trtPC_df1['Borough'], trtPC_df1['Neighborhood'])
trtPC_df1.head(15)

,Postal Code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
8,M9A,Etobicoke,"Islington Avenue, Humber Valley Village"
9,M1B,Scarborough,"Malvern, Rouge"
11,M3B,North York,Don Mills
12,M4B,East York,"Parkview Hill, Woodbine Gardens"
13,M5B,Downtown Toronto,"Garden District, Ryerson"
14,M6B,North York,Glencairn
17,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."
18,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
20,M3C,North York,Don Mills
21,M4C,East York,Woodbine Heights

_More than one neighborhood go to the same postal code line:_

In [8]:
#here we alter the data in one cell to cause having more than 1 line with repeated postal code, so we can check the code is right
#this cell will be fully commented once testing is fine, so we don't actually alter the data.
#we're doing this just because the table in the wiki page already has the neighborhoods as a list for the 103 that are not empty or not assigned.

#trtPC_df1.iloc[1, 0]='M3A'
#trtPC_df1.head()

![dataframe head](013image1.png)

_now we will aggregate the neighborhoods belonging to the same postal code
in order to have one row per postal code and the corresponding neighborhoods listed in the 'Neighborhood' column.
and again, this seems to have been done in the original table, but we will process the data just in case the original table changes in the future:_

In [9]:
#let's group by the postal code column and aggregate borough and neighborhood columns respectively to keep the first borough in each group, and the list of neighborhoods
trtPC_df = trtPC_df1.groupby(['Postal Code']).agg({'Borough':"first", 'Neighborhood':list}).reset_index()

In [10]:
#next we will get rid of the list representation brackets from the neighborhood column.
#please note the data corresponds to the original and not to the tweaked data used in testing this.
trtPC_df['Neighborhood'] = trtPC_df['Neighborhood'].apply(lambda n: ', '.join(n))
trtPC_df.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [11]:
#now let's check how the M3A postal code line became after the grouping operations. 
#We expect to have two neighborhoods listed, Parkwoods and Victoria Village.
#this cell is aimed only for testing the code, not for the assignment submission. 
#This cell will be submitted as commented for the assignment.

#trtPC_df[trtPC_df['Postal Code']=='M3A'].head()

![dataframe head](013image2.png)

_using the **.shape** method to print the number of rows of our dataframe:_

In [12]:
#let's check the number of rows in the dataframe:
print('The dataframe has {} rows.'.format(trtPC_df.shape[0]))

The dataframe has 103 rows.

#### **this is part 2/3 of the assignment: "Adding geolocation data"**   
Here we add the geolocation data from a csv file into the above-created pandas Dataframe:

_first we import the geocoder library:_

In [13]:
import geocoder # import geocoder
from time import sleep

_After some experimenting with the geocoder library, I found out that Google provider was returning **None** on all the attempts.   
So I tried with some other providers (from [geocoder](https://geocoder.readthedocs.io/)) and found [ArcGIS](https://geocoder.readthedocs.io/providers/ArcGIS.html) to respond promptly to manual requests.   
Then let's be thankful and stick to this provider._

In [102]:
def get_coords_Toronto (pc):
    #print(pc)
    #let's control the maximum number of calls to the location provider
    max_attempts = 5
    # initialize your variable to None
    lat_lng_coords = None

    # loop until you get the coordinates
    i=0
    while(lat_lng_coords is None):
      g = geocoder.arcgis('{}, Toronto, Ontario'.format(pc))
      lat_lng_coords = g.latlng
      i += 1
      if i > max_attempts:
            print('too many attempts. quiting')
            break
      sleep(0.2) #a small pause between requests, trying not to be kicked out.

    #print('coordinates for {} required {} call(s) to ArcGIS provider.'.format(pc, i))
    
    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    
    return latitude, longitude

_let's test the function:_

In [69]:
print(get_coords_Toronto('M3A'))

M3A
(43.75293455500008, -79.33564142299997)

_remembering how the dataframe looks like:_

In [106]:
print('columns: {}'.format(', '.join(trtPC_df.columns)))
trtPC_df.tail()

columns: Postal Code, Borough, Neighborhood, latitude, longitude

,Postal Code,Borough,Neighborhood,latitude,longitude
98,M9N,York,Weston,43.705496,-79.520370
99,M9P,Etobicoke,Westmount,43.696296,-79.533126
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.686887,-79.565507
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.744055,-79.581203
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.711615,-79.588351

_it's time to collect the coordinates. we'll store them in a dedicated variable first to avoid having to repeat the call:_

In [86]:
coords = trtPC_df.apply(lambda row: get_coords_Toronto(row[0]), axis=1)

In [108]:
print(coords)
coords_df = pd.DataFrame(list(coords), columns=['latitude', 'longitude'])
coords_df.head()

0      (43.80862623100006, -79.18991284599997)
1      (43.78577865700004, -79.15736763799998)
2      (43.76580607300008, -79.18528434099994)
3      (43.77154467100007, -79.21813521299998)
4      (43.76879106300004, -79.23881306799996)
                        ...
98     (43.70549635400005, -79.52037009099996)
99     (43.69629612800003, -79.53312611699994)
100    (43.68688713700004, -79.56550730099997)
101    (43.74405485200003, -79.58120294599996)
102    (43.71161519300006, -79.58835079199997)
Length: 103, dtype: object

    latitude  longitude
0  43.808626 -79.189913
1  43.785779 -79.157368
2  43.765806 -79.185284
3  43.771545 -79.218135
4  43.768791 -79.238813

_now that we have the coordinates as a dataframe, we will add them as new columns to the desired dataframe **trtPC_df**:_

In [98]:
trtPC_df[['latitude', 'longitude']] = coords_df
trtPC_df.head()

,Postal Code,Borough,Neighborhood,latitude,longitude
0,M1B,Scarborough,"Malvern, Rouge",43.808626,-79.189913
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.785779,-79.157368
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.765806,-79.185284
3,M1G,Scarborough,Woburn,43.771545,-79.218135
4,M1H,Scarborough,Cedarbrae,43.768791,-79.238813

_before continuing, let's just sneak peek the one postal code we probed before:_

In [110]:
trtPC_df[trtPC_df['Postal Code']=='M3A']

   Postal Code     Borough Neighborhood   latitude  longitude
25         M3A  North York    Parkwoods  43.752935 -79.335641

_as we can see below, the dataframe has 103 postal codes, and the limit rectangle corner coordinates (lines of **min** and **max**):_

In [109]:
trtPC_df.describe(include='all')

       Postal Code     Borough Neighborhood    latitude   longitude
count          103         103          103  103.000000  103.000000
unique         103          10           99         NaN         NaN
top            M8X  North York    Downsview         NaN         NaN
freq             1          24            4         NaN         NaN
mean           NaN         NaN          NaN   43.704481  -79.394989
std            NaN         NaN          NaN    0.052814    0.094870
min            NaN         NaN          NaN   43.600895  -79.588351
25%            NaN         NaN          NaN   43.656781  -79.450931
50%            NaN         NaN          NaN   43.696448  -79.385653
75%            NaN         NaN          NaN   43.746551  -79.350151
max            NaN         NaN          NaN   43.834768  -79.157368

_finally, here is our dataframe with the coordinates:_

In [111]:
trtPC_df.head(15)

,Postal Code,Borough,Neighborhood,latitude,longitude
0,M1B,Scarborough,"Malvern, Rouge",43.808626,-79.189913
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.785779,-79.157368
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.765806,-79.185284
3,M1G,Scarborough,Woburn,43.771545,-79.218135
4,M1H,Scarborough,Cedarbrae,43.768791,-79.238813
5,M1J,Scarborough,Scarborough Village,43.744203,-79.228725
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park",43.726881,-79.265694
7,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge",43.713340,-79.284942
8,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West",43.723538,-79.228353
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.696448,-79.265642
10,M1P,Scarborough,"Dorset Park, Wexford Heights, Scarborough Town...",43.761310,-79.269940
11,M1R,Scarborough,"Wexford, Maryvale",43.750043,-79.300537
12,M1S,Scarborough,Agincourt,43.793930,-79.265694
13,M1T,Scarborough,"Clarks Corners, Tam O'Shanter, Sullivan",43.784902,-79.304725
14,M1V,Scarborough,"Milliken, Agincourt North, Steeles East, L'Amo...",43.817998,-79.280887

#### **this is part 3/3 of the assignment: "Clustering Toronto's neighborhoods"**   
Here we explore and cluster the neighborhoods in Toronto: